<div class="container">
  <div class="row" *ngIf="movieDetails">
    <div class="col-md-3">
      <img [src]="prefixImg+movieDetails.poster_path" class="w-100" alt="">
    </div>
    <div class="col-md-7">
      <h3>{{movieDetails.title}}</h3>

      <p>Release Date : {{movieDetails.release_date}}</p>
      <div class="d-flex">
        Genres :
        <p class="mx-2" *ngFor="let genre of movieDetails.genres"> {{genre.name}}</p>
      </div>
      <p style="color: dimgrey;">{{movieDetails.overview}}</p>
    </div>
  </div>
</div>
